<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .c{
            display: inline-flex;
            width: 250px;
            margin-left: 20px;
            background-color: gray;
            align-content: space-between;
            text-align: center;
        }
    </style>
</head>
<body>
    <app-menu></app-menu>
    
      <div class="form-group w-25 mx-5 my-5">
        <h4>Chercher commentaire</h4>
        <input type="text" class="form-control my-3" for="inputLarge" placeholder="Chercher commentaire.." [(ngModel)]="term">
     </div>
     <div class="container">
      <div class="card border-primary mx-2" *ngFor="let item of listcomms | filter:term" style="max-width: 20rem;">
        <div class="card-header"> Commentaire N° : {{item.id}}</div>
        <div class="card-body">
          <h6 class="card-title">Vous avez attribué la note <strong>"{{item.evaluation}}"</strong> 
                au jeu <strong>"{{item.jeux_id}}"</strong></h6>
                <hr>
          <p class="card-text">Votre message : {{item.message}}</p>
        </div>
        <div class="class-footer mx-5 my-2">
          <a [routerLink]="['/update_comm/',item.id]"><button type="submit" class="btn btn-primary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></button></a>
        <a [routerLink]="['/deletecomm/,item.id']"> <button type="siubmit" class="btn btn-secondary"  (click)="delete(item.id)" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
          </svg> </button></a>
        </div>  
      </div>
    </div>
</body>
</html>
