<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeux</title>
</head>

<body>
    <app-menu></app-menu>

    <br>
    <br>
    <br>
    <app-add-jeu (add)="add_jeu($event)"></app-add-jeu>
    <hr>

    <button (click)="getAll()" class="btn btn-info">Voir tous les jeux</button>

    <div class="container_g">

        <div class="card" *ngFor="let item of listjeu" [class.selected]="item === selectedJeux" (click)="select(item)">


            <div class="container">
                <img src="{{item.couverture}}" style="width: 200px;"/>
                <h4 ng-class="{'has-success': success ,'has-error': error}"><b>Nom du jeu : {{item.nom}}</b></h4>
                <p>Identifiant du jeu : {{item.id}}</p>
                <p>Prix jeu : {{item.prix}}</p>
                <p>Genre du jeu : {{item.genre_id}}</p>
            </div>
            <hr>
            <div class="container_b">
                
                <a [routerLink]="['/deletejeu/',item.id]">
                    <button class="btn btn-outline-danger btn-lg" (click)="delete(item.id)">Supprimer</button></a>
                <div class="mx-4"></div>
                <a>
                    <button [routerLink]="['/updatejeu/', item.id]" class="btn btn-outline-warning btn-lg">Modifier</button>
                </a>    
                <br>
                <hr>
 
            </div>
            <br>


        </div>
        
        <app-input-jeux-details  [style.background]="msg"  [item]="selectedJeux"></app-input-jeux-details>

    </div>

</body>

</html>