<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laisser commentaire</title>
</head>

<body>
    <app-menu></app-menu>
    <form #form="ngForm" class="my_form w-50">
        <br>
        <br>
        <legend>Commentaire Form</legend>
        <hr>
        <div class="form-group">
            <label class="col-form-label col-form-label" for="inputLarge">Message:</label>
            <input class="form-control form-control-lg" type="text" placeholder="Tapez votre commentaire ..."
                id="inputLarge" name="message" [(ngModel)]="commentaire.message" #message="ngModel" required>
            <div *ngIf="message.invalid && message.touched">
                <div class="toast show w-50" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <strong class="mr-auto">Attention  </strong>
                      <small><span class="badge badge-warning">Warning</span></small>
                    </div>
                    <div class="toast-body">
                        Ce champ est obligatoire
                    </div>
                </div>Ce champ est obligatoire
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label col-form-label" for="inputLarge">Evaluation:</label>

            <ng5-slider [(value)]="value" [options]="options" name="evaluation" [(ngModel)]="commentaire.evaluation"
                #evaluation="ngModel"></ng5-slider>
            <div *ngIf="evaluation.invalid && evaluation.touched">
                <div class="toast show w-50" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <strong class="mr-auto">Attention  </strong>
                      <small><span class="badge badge-warning">Warning</span></small>
                    </div>
                    <div class="toast-body">
                        Ce champ est obligatoire
                    </div>
                </div>
            </div>
        </div>


        <label class="col-form-label col-form-label" for="inputLarge">Nom du Jeu:</label>
        <select id="jeux_id" name="jeux_id" [(ngModel)]="commentaire.jeux_id" #jeux_id="ngModel" class="form-control">
            <option value="" disabled>Sélectionnez votre Jeu</option>
            <option *ngFor="let item of listJeux" [value]="item.nom">
                {{item.nom}}
            </option>
        </select>
        <br>

        <button [disabled]="form.invalid" (click)="save()" type="button" class="btn btn-outline-info btn-lg btn-block">Evaluer</button>
    </form>
</body>

</html>
