<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-menu></app-menu>
    <form #form="ngForm">
        <h1>Ajouter Un nouveau Genre</h1>
        <hr>
        <div class="form-group">
            <label class="col-form-label col-form-label" for="inputLarge">Identifiant:</label>
            <input class="form-control form-control-lg" type="text" placeholder="Tapez votre commentaire ..."
                id="inputLarge" name="id" [(ngModel)]="commentaire.id" #id="ngModel" required>
            <div *ngIf="id.invalid && id.touched">
                Ce champ est obligatoire
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label col-form-label" for="inputLarge">Message:</label>
            <input class="form-control form-control-lg" type="text" placeholder="Tapez votre commentaire ..."
                id="inputLarge" name="message" [(ngModel)]="commentaire.message" #message="ngModel" required>
            <div *ngIf="message.invalid && message.touched">
                Ce champ est obligatoire
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label col-form-label" for="inputLarge">Evaluation:</label>

            <ng5-slider [(value)]="value" [options]="options" name="evaluation" [(ngModel)]="commentaire.evaluation"
                #evaluation="ngModel"></ng5-slider>
            <div *ngIf="evaluation.invalid && evaluation.touched">
                Ce champ est obligatoire
            </div>
        </div>


        <label class="col-form-label col-form-label" for="inputLarge">Type du Jeu:</label>
        <select id="jeux_id" name="jeux_id" [(ngModel)]="commentaire.jeux_id" #jeux_id="ngModel" class="form-control">
            <option value="" disabled>Sélectionnez votre Jeu</option>
            <option *ngFor="let item of listJeux" [value]="item.nom">
                {{item.nom}}
            </option>
        </select>


        <button (click)="update()" type="submit" class="btn btn-outline-info btn-lg btn-block">Mettre à jour</button>
    </form>
</body>

</html>
